/* Start Adding custom styles if wanted */

header {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.standard-spacing {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-resize {
    width: 100%;
}

pre {
    display: block;
    color: black;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

.api-block {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #b2b2b2;
    margin-bottom: 150px;
    padding-bottom: 150px;
}

.block-code {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #b2b2b2;
}

.currentYearDisplay {
    opacity: 0.1;
    color: black;
    font-size: 120px;
    text-align: center;
    text-anchor: middle;
}

.align-right {
    float: right;
    margin-right: 10px;
    margin-top: 10px
}

.bubbles {
    stroke-width: 1px;
    stroke: white;
    opacity: 1;
}

.bubbles:hover {
    stroke-width: 2px;
    stroke: black;
}

.key-style {
    font-size: 14px;
    color: black;
    text-anchor: middle;
}

.box {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 0.5px solid;
    border-radius: 50px;
  }
