<pre class="block-code">
<code>
        <h2 class="text-center">POST API</h2>
        <h3>Post Country</h3>
        <p><b>POST</b> /getcountries - Post data on country name</p>
        <p><b>Overview</b><br>- Post data from a form and return country name wanting to be stored.<br>- If the country exists the input will overwrite the pre-existing country name.<br>- If the county has data, it will remain after the overwritten country name.</p>
        <p>Example Usage - <em>New Country</em><br><b>POST</b> /getcountries<br>Posting Data: Test<br><em>returns new country added</em></p>
[
    {   
        "_id": {"$oid": "5ed5d9a20d918d5923396f5c"}, 
        "name": "Test", 
        "data": {}
    }
]
</code>
<hr>
<code>
    <p>Example Usage - <em>Exsisting Country</em><br><b>POST</b> /getcountries<br>Posting Data: Japan<br><em>returns overwritten country and data</em></p>
[
    {   "_id": {"$oid": "5ed5bc030f7ba0588f332d6c"}, 
        "name": "Japan", 
        "data": {
                    "females_aged_15plus_employment_rate_percent": {data},
                    "population_total": {data},
                    "males_aged_15plus_employment_rate_percent": {data}
                }
    }
]
</code>
</pre>