<pre class="block-code">
    <h2 class="text-center">POST API</h2>
    <code>
        <h3>Post Country</h3>
        <p><b>POST</b> /getcountries - Post data on country name</p>
        <p><b>Overview</b><br>- Post data from a form and return country name wanting to be stored.<br>- If the country exists, error will occur. Returns status and error message.<br></p>
        <p>Example Usage - <em>New Country</em><br><b>POST</b> /getcountries<br>Posting Data: Test<br><em>returns new country added</em></p>
[
    {   
        "_id": {"$oid": "5ed5d9a20d918d5923396f5c"}, 
        "name": "Test", 
        "data": {}
    }
]
</code>
<hr>
<code>
    <h4>Errors - Post Existing Country</h4>
    <p>Status: 409<br>If country being added already exists in database, then return a message.<br>Example Usage<br><b>POST</b> /getcountries<br>Posting Data: Japan<br><em>returns error message</em></p>
    "Error - Country already exists in database. Please add another country."
    </code>
</pre>