{% include "head.html" %}

<header>
    {% include "navigation.html" %}
</header>

<div class="container bg-light">

    <h1 class="text-center">D3 Javascript</h1>
   <p class="text-center"><em>Note: If nothing is loading, please clear your browsing data: Cached images and files.</em</p> 
   <div class="text-center">
        <button id="play" class="btn btn-primary" onclick="startAnimation()">Load Graph</button>
    </div>
    <br>
    <div class="align-right">
        <button id="back" class="btn btn-info btn-sm">Previous Year</button>
        <button id="next" class="btn btn-secondary btn-sm">Next Year</button>
    </div>
    <div>
        <button id="auto-play" class="btn btn-success btn-sm">Play</button>
        <button id="pause" class="btn btn-danger btn-sm">Stop</button>
    </div>
    <div>
        <div id="data_graph" class="mt-5 border border-dark">
            <div id="play_button"></div>
        </div>
    </div>
</div>
{% include "footer.html" %}
