{% include "head.html" %}

<header>
    {% include "navigation.html" %}
</header>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row mt-5 mb-5">
                <div class="card-group">
                    <div class="card text-center m-1 p-1">
                        <img src="{{ url_for('static', filename='img/inspiration-1-simple-nav-bar.png') }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Adam Church</h5>
                            <p class="card-text">This website was had a very simple design with subtle complexity when
                                scrolling. The one thing i like to incorporate in my webstie would be a clean and simple
                                looking navigation
                                bar at the top of the website.</p>
                            <a href="https://adamchurch.co.uk/" class="btn btn-primary">Go to site!</a>
                        </div>
                    </div>
                    <div class="card text-center m-1 p-1">
                        <img src="{{ url_for('static', filename='img/inspiration-2-whitespace-text-design.png') }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Wired Avenue</h5>
                            <p class="card-text">This website design caught my attention with the use of white space and
                                the simple design and text in the center of the screen. I would like to incorporate the
                                use of the text, the first three lines with fixed colors and the last line being the
                                most inportant text with an altered color to make it stand out.</p>
                            <a href="https://www.wiredave.com/" class="btn btn-primary">Go to site!</a>
                        </div>
                    </div>
                    <div class="card text-center m-1 p-1">
                        <img src="{{ url_for('static', filename='img/inspiration-3-use-of-grid.png') }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Wire</h5>
                            <p class="card-text">This website incorporates the use of a grid style, but
                                tends to use more white space. The white space gives a clean and simplistic look to
                                the overall website. I would like to incorporate some sort of grid like system when
                                displaying content.</p>
                            <a href="https://humaan.com/" class="btn btn-primary">Go to site!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% include "footer.html" %}